#successBanner{
  display: none;
}

.toast {
  /* background: #fff;
  border: 1px solid #4070f4; */
  background-color: rgb(62, 189, 98);
  border:2px solid #3ebd61;
  position: fixed;
  z-index: 10;
  top: 17%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  border-radius: 12px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  color:#3ebd61;
  background-color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* .message .text.text-1 {
  font-weight: bold;
  color: black;
} */

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: green;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

/* button {
  padding: 12px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #1e72fa;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0e4bf1;
}

.toast.active ~ button {
  pointer-events: none;
} */

@media only screen and (max-width: 490px) {
  .toast {
    margin-left: -190px;
    padding: 20px 5px 20px 20px;
  }
}

@media only screen and (max-width: 465px) {
  .toast {
    margin-left: -190px;
  }
}

@media only screen and (max-width: 450px) {
  .toast {
    margin-left: -170px;
    padding: 18px 5px 18px 8px;
  }

  .message .text {
    font-size: 14px;
  }

  .toast-content .check {
    height: 30px;
    min-width: 30px;
  }
}

@media only screen and (max-width: 385px) {
  .toast {
    top: 17%;
    left: 50%;
    margin-top: -50px;
    margin-left: -140px;
    padding: 16px 0px 16px 3px;
  }

  .message .text {
    font-size: 13px;
  }

  .toast-content .message {
    margin: 0 10px;
  }
}

