#footer {
    background-color: #001D23;
    padding: 0 0 25px 0;
    color: #eee;
  }
  
  #footer .footer-top {
    background-color: #001D23;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info img {
    max-height: 70px;
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background-color: #222636;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links{
    margin-top: 10px;
  }

  #footer .footer-top .social-links a:hover {
    background-color: #1e72fa;
    color: #fff;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid #1e72fa;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: #1e72fa;
    font-size: 18px;
  }

  .qr_code{
    width: 70px;
    height: 70px;
    margin-top: 18px;
  }
  
  #footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #262c44;
    padding: 10px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #eee;
    font-size: 18px;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #1e72fa;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  .footer__contact__text>a {
    line-height: 26px;
    color: #eee;
  }

  .footer__contact__text:hover a  {
    color: #1e72fa;

  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  }

  .footer__contact__text{
    font-size: 17px;
    margin-bottom: 15px;
  }