
@media only screen and (max-width: 1315px) {
    .about-section .images-column .inner-column{
        padding:50px 0px;
        object-fit: contain;
        width:575px;
    }
    
    .about-section .images-column .pattern-layer{
        top: -60px;
        left: -50px;
        width:675px;
        background-repeat:no-repeat;
        object-fit: contain;
    }
}

@media only screen and (max-width: 1165px) {
    .about-section .images-column .inner-column{
        padding:50px 0px;
        object-fit: contain;
        width:515px;
    }
    
    .about-section .images-column .pattern-layer{
        top: -50px;
        left: -60px;
        width:645px;
        background-repeat:no-repeat;
        object-fit: contain;
    }
}

@media only screen and (max-width: 1100px) {
    .about-section .images-column .inner-column{
        padding:50px 0px;
        object-fit: contain;
        width:495px;
    }
    
    .about-section .images-column .pattern-layer{
        top: -40px;
        left: -70px;
        width:625px;
        background-repeat:no-repeat;
        object-fit: contain;
    }
}

@media only screen and (max-width: 992px) {
    .about-section{
       display: flex;
       justify-content: center;
    }

    .about-section .images-column .inner-column{
        padding:50px 0px;
        object-fit: contain;
        width:495px;
    }
    
    .about-section .images-column .pattern-layer{
        top: -40px;
        left: -70px;
        width:625px;
        background-repeat:no-repeat;
        object-fit: contain;
    }
}